In [1]:
import pandas as pd
import numpy as np

from basic_synthesizer import BasicSynthesizer

dataset = pd.read_csv("../normalizing_flows/datasets/power_subset.csv")

synthesizer = BasicSynthesizer(dataset)

In [2]:
synth_data = synthesizer.sample(len(dataset))

In [3]:
synth_data

,0,1,2,3,4,5,6,7
0,1.616385,0.183086,242.476846,6.835879,4.447348,4.092458,10.838308,921.737073
1,0.947662,0.109912,240.458401,4.027567,0.304171,0.532072,5.428330,657.229965
2,1.775383,0.200484,242.956758,7.503592,5.432442,4.938986,12.124600,984.627078
3,2.697243,0.301358,245.739260,11.374954,11.143963,9.847111,19.582455,1349.259924
4,0.846677,0.098862,240.153592,3.603479,-0.321496,-0.005588,4.611361,617.286340
...,...,...,...,...,...,...,...,...
2995,1.174872,0.134774,241.144202,4.981739,1.711887,1.741774,7.266463,747.100791
2996,1.364724,0.155549,241.717244,5.779026,2.888145,2.752577,8.802369,822.195042
2997,-0.214478,-0.017254,236.950648,-0.852855,-6.896040,-5.655340,-3.973391,197.556717
2998,1.445210,0.164356,241.960177,6.117025,3.386804,3.181093,9.453496,854.030230
2999,0.929764,0.107953,240.404378,3.952404,0.193282,0.436781,5.283536,650.150620

In [4]:
dataset.describe()

,0,1,2,3,4,5,6,7
count,3000.000000,3000.000000,3000.000000,3000.000000,3000.000000,3000.000000,3000.000000,3000.000000
mean,1.093274,0.125845,240.897910,4.639067,1.206333,1.307333,6.606333,714.825448
std,1.053319,0.115258,3.179292,4.423427,6.525996,5.608033,8.521359,416.630205
min,0.078000,0.000000,228.010000,0.200000,0.000000,0.000000,0.000000,0.558901
25%,0.309500,0.048000,239.040000,1.400000,0.000000,0.000000,0.000000,347.723029
50%,0.605000,0.102000,241.050000,2.600000,0.000000,0.000000,1.000000,727.030240
75%,1.514000,0.198000,242.922500,6.400000,0.000000,1.000000,17.000000,1077.403584
max,6.888000,0.892000,250.840000,30.200000,79.000000,72.000000,30.000000,1439.806202

In [5]:
synth_data.describe()

,0,1,2,3,4,5,6,7
count,3000.000000,3000.000000,3000.000000,3000.000000,3000.000000,3000.000000,3000.000000,3000.000000
mean,1.126975,0.129533,240.999633,4.780596,1.415136,1.486765,6.878979,728.155740
std,1.039250,0.113719,3.136827,4.364343,6.438829,5.533127,8.407540,411.065318
min,-2.320245,-0.247675,230.594692,-9.696052,-19.942638,-16.866770,-21.009067,-635.359343
25%,0.432383,0.053528,238.903106,1.863647,-2.888315,-2.211351,1.259721,453.416432
50%,1.118934,0.128653,240.975360,4.746825,1.365312,1.443949,6.813920,724.974874
75%,1.802662,0.203469,243.039095,7.618150,5.601452,5.084223,12.345287,995.416980
max,5.228166,0.578302,253.378486,22.003596,26.824674,23.322132,40.057639,2350.342016

In [6]:
from metrics.pmse import pmse_ratio
from metrics.sra import sra
from metrics.wasserstein import wasserstein_randomization
import numpy as np

pmse_ratio(dataset, synth_data)

1.728256267374573

In [7]:
wass = []
for i in range(50):
  wass.append(wasserstein_randomization(dataset, dataset, 100))

print(np.mean(wass))
print(np.std(wass))

7.748353170705355
0.3170173088972846

In [8]:
wass = []
for i in range(50):
  wass.append(wasserstein_randomization(dataset, synth_data, 100))
    
print(np.mean(wass))
print(np.std(wass))

8.872372244335011
0.91487162135317